{% extends 'index.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('containerView') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('containerView') }}
{% endblock %}

{% block main %}
    <div id="container-head">
        {% set dot_color = "black" %}

        {% if containerApi.state == "running" %}
            {% set dot_color = "green" %}
        {% elseif containerApi.state == "exited" %}
            {% set dot_color = "white" %}
        {% elseif containerApi.state == "paused" %}
            {% set dot_color = "yellow" %}
        {% elseif containerApi.state == "restarting" %}
            {% set dot_color = "yellow" %}
        {% elseif containerApi.state == "removing" %}
            {% set dot_color = "red" %}
        {% elseif containerApi.state == "dead" %}
            {% set dot_color = "black" %}
        {% elseif containerApi.state == "created" %}
            {% set dot_color = "blue" %}
        {% endif %}

        <h1 id="container-name">{{ container.name}}</h1>
        {% if container.domain %}
            <!--<div id="domain-wrapper">
                <h1 id="container-name"><a href="https://{{- container.name|slice(1) -}}.insash.fr" target="_blank"><span
                                class="expanded-domain">https://</span>{{- container.name|slice(1) -}}<span
                                class="expanded-domain">.insash.fr</span></a></h1>
                <button id="edit-domain"><img src="{{ asset('build/images/edit.png') }}" alt="Edit"></button>
            </div>-->
            <div id="domain-wrapper">
                <h2 id="container-domain"><a href="{{ container.domain }}" target="_blank">{{ container.domain }}</a></h2>
                <button id="edit-domain"><img src="{{ asset('build/images/edit.png') }}" alt="Edit"></button>
            </div>
        {% else %}
            <div id="domain-wrapper">
                <h2 class="italic">{{ 'container.domain.none'|trans }}</h2>
                <button id="edit-domain"><img src="{{ asset('build/images/edit.png') }}" alt="Edit"></button>
            </div>
        {% endif %}
        <h2 class="container-state"><span class="dot {{ dot_color -}}-dot"></span> {{ containerApi.state }}</h2>

        <nav>
            <ul>
                <li aria-current="{{ overview|default != null }}">
                    <a href="{{ path('app_container_overview', {'container': container.id}) }}">{{ 'container.overview'|trans }}</a>
                </li>
                <li aria-current="{{ stats|default != null }}">
                    <a href="{{ path('app_container_stats', {'container': container.id}) }}">{{ 'container.stats'|trans }}</a>
                </li>
                {% if is_granted('ROLE_INFO') %}
                <li aria-current="{{ shell|default != null }}">
                    <a href="{{ path('app_container_shell', {'container': container.id}) }}">{{ 'container.shell'|trans }}</a>
                </li>
                {% endif %}
                <li aria-current="{{ actions|default != null }}">
                    <a href="{{ path('app_container_actions', {'container': container.id}) }}">{{ 'container.actions'|trans }}</a>
                </li>
                <li aria-current="{{ notifications|default != null }}">
                    <a href="{{ path('app_container_notifications', {'container': container.id}) }}">{{ 'container.notifications'|trans }}</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>

    <div class="dialog-html" id="edit-domain-dialog" data-project="{{ container.name }}" data-change-route="{{ path('app_change_domain', {'container': container.id}) }}">
        <form id="edit-domain-form">
            <label for="new-domain">{{ 'container.domain.new'|trans }}</label>
            <input type="url" name="domain" id="new-domain" value="{{ container.domain }}">
        </form>
    </div>
{% endblock %}