{% extends 'index.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('admin') }}
    {{ encore_entry_link_tags('users') }}
    {{ encore_entry_link_tags('container') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('users') }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block main %}
    <h1 class="section-title">{{ 'admin.users.title' | trans }} <a href="{{ path('app_register') }}" class="btn-add" id="add-user"><img src="{{ asset('build/images/add.png') }}" alt="Add"> {{ 'admin.users.action.add'|trans }}</a></h1>
    <section class="users">
        {% include 'app/admin/components/users.twig' with {'users': users} %}
    </section>

    <h1 class="section-title">{{ 'admin.containers.title' | trans }}  <button class="btn-add" id="add-container"><img src="{{ asset('build/images/add.png') }}" alt="Add"> {{ 'admin.users.action.add'|trans }}</button></h1>
    <section class="containers">
        {% for key, container in containers %}
            {% include 'app/components/container.twig' with {'id': key, 'container': container, 'container_view_uri': path('app_admin_container_overview', {'container': key}) } %}
        {% endfor %}
    </section>

    <div class="dialog-html" id="dialog-container-create">
        <form action="{{ path('app_admin_container_create') }}" method="post" id="container-create-form">
            <label for="new-container-name"><img src="{{ asset('build/images/required.png') }}" alt="Required"> {{ 'admin.container.create.name'|trans }}</label>
            <input name="container-name" id="new-container-name" type="text">
            <label for="new-container-basePort"><img src="{{ asset('build/images/required.png') }}" alt="Required"> {{ 'admin.container.create.basePort'|trans }}</label>
            <input name="container-basePort" id="new-container-basePort" type="text">
            <label for="new-container-memory"><img src="{{ asset('build/images/required.png') }}" alt="Required"> {{ 'admin.container.create.memory'|trans }}</label>
            <input name="container-memory" id="new-container-memory" type="text">
            <label for="new-container-cpu"><img src="{{ asset('build/images/required.png') }}" alt="Required"> {{ 'admin.container.create.cpu'|trans }}</label>
            <input name="container-cpu" id="new-container-cpu" type="text">
            <label for="new-container-ports">{{ 'admin.container.create.ports'|trans }}</label>
            <input name="container-ports" id="new-container-ports" type="text">
            <label for="new-container-image">{{ 'admin.container.create.image'|trans }}</label>
            <input name="container-image" id="new-container-image" type="text">
            <label for="new-container-commands">{{ 'admin.container.create.commands'|trans }}</label>
            <input name="container-commands" id="new-container-commands" type="text">
        </form>
    </div>
{% endblock %}