{% extends 'admin/container-view-admin.twig' %}

{% block title %}{{ 'pages.titles.container.shell'|trans|format(container.name) }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('containerShell') }}
{% endblock %}

{% block content %}
    <div id="shell-wrapper">
        <div id="shell-head">
            <div id="shell-size">
                <input type="number" id="shell-width" value="850">
                X
                <input type="number" id="shell-height" value="500">
            </div>
            <a href="https://ssh.{{- containerApi.name|slice(1) -}}.insash.fr/wetty" target="_blank"><img class="icon-little" src="{{ asset('build/images/terminal.png') }}" alt="Terminal"></a>
        </div>

        {% if containerApi.state == 'running' %}
            <iframe id="shell"
                    title="{{ 'container.shell'|trans }}"
                    width="850"
                    height="500"
                    src="https://ssh.{{- containerApi.name|slice(1) -}}.insash.fr/wetty"></iframe>
        {% else %}
            <div id="shell-unavailable-wrapper">
                <p class="text-center">{{ 'container.shell.unavailable'|trans }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}