{% extends 'admin/container-view-admin.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('containerAdmin') }}
{% endblock %}

{% block content %}
<section class="card">
    <h1>{{ 'container.admin'|trans }}</h1>

    <p>{{ 'container.admin.runningPort'|trans }} {{ containerApi.host_port_root }}</p>

    <button class="accent-solid-cta" id="delete-container" type="button" data-delete="{{ path('app_admin_container_delete', {'container': container.id}) }}" data-redirect="{{ path('app_admin_index') }}">{{ 'container.admin.delete'|trans }}</button>
</section>
{% endblock %}