{% extends 'index.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('admin') }}
    {{ encore_entry_link_tags('users') }}
    {{ encore_entry_link_tags('container') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('users') }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block main %}
    <h1 class="section-title">{{ 'admin.users.title' | trans }} <a href="{{ path('app_register') }}" class="btn-add" id="add-user"><img src="{{ asset('build/images/add.png') }}" alt="Add"> {{ 'admin.users.action.add'|trans }}</a></h1>
    <section class="users">
        {% include 'admin/components/users.twig' with {'users': users} %}
    </section>

    <h1 class="section-title">{{ 'admin.containers.title' | trans }}  <button class="btn-add" id="add-container"><img src="{{ asset('build/images/add.png') }}" alt="Add"> {{ 'admin.users.action.add'|trans }}</button> <button id="sort-container"><img src="{{ asset('build/images/sort.png') }}" alt="Sort"> {{ 'admin.container.sort'|trans }}</button></h1>
    <section class="containers">
        {% for key, container in containers %}
            {% include 'components/container.twig' with {'id': key, 'container': container, 'container_view_uri': path('app_admin_container_overview', {'container': key}) } %}
        {% endfor %}
    </section>

    <div class="dialog-html" id="dialog-container-create">
        {{ form_start(newContainerForm, {'attr': {'id': 'container-create-form'}}) }}

        <div class="required-field">
            <img src="{{ asset('build/images/required.png') }}" alt="Required">
            {{ form_label(newContainerForm.name) }}
            {{ form_widget(newContainerForm.name) }}
        </div>

        <div class="required-field">
            <img src="{{ asset('build/images/required.png') }}" alt="Required">
            {{ form_label(newContainerForm.hostPortRoot) }}
            {{ form_widget(newContainerForm.hostPortRoot) }}
        </div>

        <div class="required-field">
            <img src="{{ asset('build/images/required.png') }}" alt="Required">
            {{ form_label(newContainerForm.memoryLimit) }}
            {{ form_widget(newContainerForm.memoryLimit) }}
        </div>

        <div class="required-field">
            <img src="{{ asset('build/images/required.png') }}" alt="Required">
            {{ form_label(newContainerForm.cpuLimit) }}
            {{ form_widget(newContainerForm.cpuLimit) }}
        </div>

        {{ form_end(newContainerForm) }}
    </div>
{% endblock %}