{% extends 'app/container-view.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('containerActions') }}
{% endblock %}

{% block content %}

    <!--    Action possibles:
        Arrêt
        Démarrage
        Redémarrage
        Contacter l'administration
        Demander une suppression
        Demander un changement de configuration

        Administration:
        Suppression
        Re-allocation
    -->

    <div id="actions-wrapper">
        <section class="head card">
            <h1 class="title">{{ include(template_from_string('container.actions.title'|trans)) }}</h1>
            <p>{{ include(template_from_string(('container.actions.current.'~containerApi.state)|trans)) }}</p>
        </section>

        <div class="row">
            <section class="card" id="container-activities">
                <h2 class="title">{{ 'container.actions.records'|trans }}</h2>

                {% if container.containerActivities|length == 0 %}
                    <p class="italic text-center">{{ 'container.actions.records.empty'|trans }}</p>
                {% endif %}

                {% for activity in container.containerActivities|sort((a,b)=>a.timestamp|date('U')<=b.timestamp|date('U'))|slice(0, 5) %}
                    <div class="record">
                        <div class="record-datetime">{{ activity.timestamp|date('d/m H:i') }}</div>

                        <div class="record-description">{{ activity.description }}</div>
                    </div>
                {% endfor %}
            </section>

            {% if is_granted('ROLE_INFO') %}
            <section class="card">
                <h2 class="title">{{ 'container.actions.basic.title'|trans }}</h2>

                <div class="flex-actions">
                    <button class="solid-cta" id="start-container-cta" data-project="{{ container.name }}" data-route="{{ path('app_container_start', {'container': container.id}) }}">{{ 'container.actions.start'|trans }}</button>
                    <button class="solid-cta" id="stop-container-cta" data-project="{{ container.name }}" data-route="{{ path('app_container_stop', {'container': container.id}) }}">{{ 'container.actions.stop'|trans }}</button>
                    <button class="solid-cta" id="restart-container-cta" data-project="{{ container.name }}" data-route="{{ path('app_container_restart', {'container': container.id}) }}">{{ 'container.actions.restart'|trans }}</button>
                </div>
            </section>
            {% endif %}

            <section class="card">
                <h2 class="title">{{ 'container.actions.extra.title'|trans }}</h2>

                <div class="flex-actions">
                    <button class="solid-cta" id="ask-delete-container-cta" data-project="{{ container.name }}" data-route="{{ path('app_container_ask_delete', {'container': container.id}) }}">{{ 'container.actions.askDelete'|trans }}</button>
                    <button class="solid-cta" id="ask-config-memory-container-cta" data-project="{{ container.name }}" data-route="{{ path('app_container_ask_config_memory', {'container': container.id}) }}">{{ 'container.actions.askConfig.memory'|trans }}</button>
                    <button class="solid-cta" id="ask-config-cpu-container-cta" data-project="{{ container.name }}" data-route="{{ path('app_container_ask_config_cpu', {'container': container.id}) }}">{{ 'container.actions.askConfig.cpu'|trans }}</button>
                </div>
            </section>
        </div>
    </div>

{% endblock %}