{% extends 'index.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block main %}
    <form action="{{ path('app_login') }}" method="post">
        <h1 class="title text-center">{{ 'auth.title.login' | trans }}</h1>

        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'auth.login' | trans }}">

        <input type="password" id="password" name="_password" placeholder="{{ 'auth.password' | trans }}">

        {% if error %}
            <div class="error"><span class="dot red-dot"></span> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="cta" type="submit">login</button>
    </form>
{% endblock %}