{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mainPage') }}
{% endblock %}

{% block body %}
<header>
    {% block header %}
        <nav>
            <h1>
                <a
                        {% if is_granted('IS_AUTHENTICATED') %}
                        href="{{ path('app_app_index') }}"
                        {% else %}
                        href="{{ path('app_core_index') }}"
                        {% endif %}
                >{{ 'application.name' | trans }}</a></h1>

            <h2 class="club-name">{{ 'title.club' | trans }}</h2>

            <ul>
                {% if is_granted('IS_AUTHENTICATED') and is_granted('ROLE_ADMIN') %}
                    <li>
                        <a class="hover-underline" href="{{ path('app_notifications_index') }}">{{ 'title.notifications'|trans }}</a>
                    </li>
                    <li>
                        <a class="hover-underline" href="{{ path('app_admin_index') }}">{{ 'title.admin' | trans }}</a>
                    </li>
                {% elseif not is_granted('IS_AUTHENTICATED') %}
                    <li>
                        <a href="{{ path('app_login') }}"><span class="material-symbols-outlined">login</span> <span class="hover-underline">{{ 'application.getApp' | trans }}</span></a>
                    </li>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED') %}
                    <li>
                        <a class="hover-underline" href="{{ path('app_logout') }}">{{ 'auth.title.logout' | trans }}</a>
                    </li>
                {% endif %}

                <li>
                    <a href="https://github.com/Miunn/herbergOS" target="_blank"><img class="little-img" src="{{ asset('build/images/github-white.png') }}" alt="{{ 'application.github' | trans }}"> {{ 'application.github' | trans }}</a>
                </li>
            </ul>
        </nav>
    {% endblock %}
</header>

<main>
    <div class="wrapper">
        {% block main %}
            <section id="main-head">
                <div>
                    <h1 class="app-name">{{ 'application.name' | trans }}</h1>

                    <h2>{{ 'title.catchLine.first' | trans }}</h2>
                    <h2>{{ 'title.catchLine.second' | trans }}</h2>
                </div>
                {% include 'extra/logo-ascii-rounded.twig' %}
            </section>

            <section id="hebergos-what">
                <h3>{{ 'hebergos.what.title'|trans }}</h3>
                <p class="font-roboto">{{ 'hebergos.what.description'|trans|raw }}</p>
            </section>

            <section id="hebergos-who">
                <h3>{{ 'hebergos.who.title'|trans }}</h3>
                <p class="font-roboto">{{ 'hebergos.who.description'|trans|raw }}</p>
            </section>

            <section id="hebergos-member">
                <h3>{{ 'hebergos.member.title'|trans }}</h3>
                <p class="font-roboto">{{ 'hebergos.member.description'|trans|raw }}</p>
            </section>

            <section id="hebergos-contact">
                <h3>{{ 'hebergos.contact.title'|trans }}</h3>
                <p class="font-roboto">{{ 'hebergos.contact.description'|trans|raw }}</p>

                <button type="button" class="solid-cta" id="contact-us">{{ 'hebergos.contact.title'|trans }}</button>
            </section>
        {% endblock %}
    </div>
</main>

<footer>
    {% block footer %}

    {% endblock %}
</footer>
{% endblock %}