{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mainPage') }}
{% endblock %}

{% block body %}
<header>
    {% block header %}
        <nav>
            <h1>
                <a
                        {% if is_granted('IS_AUTHENTICATED') %}
                        href="{{ path('app_app_index') }}"
                        {% else %}
                        href="{{ path('app_core_index') }}"
                        {% endif %}
                >{{ 'application.name' | trans }}</a></h1>

            <h2 class="club-name">{{ 'title.club' | trans }}</h2>

            <ul>
                {% if not is_granted('IS_AUTHENTICATED') %}
                    <li>
                        <a class="hover-underline" href="{{ path('app_login') }}">{{ 'application.getApp' | trans }}</a>
                    </li>
                {% endif %}

                <li>
                    <a href="https://github.com/Miunn/herbergOS" target="_blank"><img class="little-img" src="{{ asset('build/images/github-white.png') }}" alt="{{ 'application.github' | trans }}"> {{ 'application.github' | trans }}</a>
                </li>
            </ul>
        </nav>
    {% endblock %}
</header>

<main>
    {% block main %}

        <div id="main-head">
            <div>
                <h1 class="app-name">{{ 'application.name' | trans }}</h1>

                <h2>{{ 'title.catchLine.first' | trans }}</h2>
                <h2>{{ 'title.catchLine.second' | trans }}</h2>
            </div>
            {% include 'extra/logo-ascii-rounded.twig' %}
        </div>
    {% endblock %}
</main>

<footer>
    {% block footer %}

    {% endblock %}
</footer>
{% endblock %}