{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mainPage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mainPage') }}
{% endblock %}

{% block body %}
<header>
    {% block header %}
        <nav>
            <h1>
                <a
                        {% if is_granted('IS_AUTHENTICATED') %}
                        href="{{ path('app_app_index') }}"
                        {% else %}
                        href="{{ path('app_core_index') }}"
                        {% endif %}
                >{{ 'application.name' | trans }}</a></h1>

            <h2 class="club-name">{{ 'title.club' | trans }}</h2>

            <ul>
                {% if is_granted('IS_AUTHENTICATED') and is_granted('ROLE_ADMIN') %}
                    <li>
                        <a class="hover-underline" href="{{ path('app_notifications_index') }}">{{ 'title.notifications'|trans }}</a>
                    </li>
                    <li>
                        <a class="hover-underline" href="{{ path('app_admin_index') }}">{{ 'title.admin' | trans }}</a>
                    </li>
                {% elseif not is_granted('IS_AUTHENTICATED') %}
                    <li>
                        <a href="{{ path('app_login') }}"><span class="material-symbols-outlined">login</span> <span class="hover-underline">{{ 'application.getApp' | trans }}</span></a>
                    </li>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED') %}
                    <li>
                        <a class="hover-underline" href="{{ path('app_logout') }}">{{ 'auth.title.logout' | trans }}</a>
                    </li>
                {% endif %}

                <li>
                    <a href="https://github.com/Miunn/herbergOS" target="_blank"><img class="little-img" src="{{ asset('build/images/github-white.png') }}" alt="{{ 'application.github' | trans }}"> {{ 'application.github' | trans }}</a>
                </li>
            </ul>
        </nav>
    {% endblock %}
</header>

<main>
    <div class="wrapper">
        {% block main %}
            <section id="main-head">
                <div>
                    <svg class="app-name-svg" width="423.6" height="160" viewBox="0 0 460 200" xmlns="http://www.w3.org/2000/svg">
                        <text y="100" stroke-width="2" fill="none">HebergOS</text>
                    </svg>
                    <div class="catch-line-wrapper catch-first"><h2>{{ 'title.catchLine.first' | trans }}</h2></div>
                    <div class="catch-line-wrapper catch-second"><h2>{{ 'title.catchLine.second' | trans }}</h2></div>
                </div>
                {% include 'extra/logo-ascii-rounded.twig' %}
            </section>

            <div class="text-description">
                <section class="main-text" id="hebergos-what">
                    <h3>{{ 'hebergos.what.title'|trans }}</h3>
                    <p class="font-roboto">{{ 'hebergos.what.description'|trans|raw }}</p>
                </section>

                <section class="main-text" id="hebergos-who">
                    <h3>{{ 'hebergos.who.title'|trans }}</h3>
                    <p class="font-roboto">{{ 'hebergos.who.description'|trans|raw }}</p>
                </section>

                <section class="main-text" id="hebergos-member">
                    <h3>{{ 'hebergos.member.title'|trans }}</h3>
                    <p class="font-roboto">{{ 'hebergos.member.description'|trans|raw }}</p>
                </section>

                <section class="main-text" id="hebergos-contact">
                    <h3>{{ 'hebergos.contact.title'|trans }}</h3>
                    <p class="font-roboto">{{ 'hebergos.contact.description'|trans|raw }}</p>

                </section>

            </div>

            <div class="sticky-detector"></div>
            <button type="button" class="solid-cta" id="contact-us">{{ 'hebergos.contact.title'|trans }}</button>
        {% endblock %}
    </div>
</main>

<footer>
    {% block footer %}

    {% endblock %}
</footer>
{% endblock %}